extends ../layout
include ../partials/staff-form

block title
  | Edit Staff

block content
  .form-page
    .form-page-header
      h2
        i.fas.fa-user-edit
        | &nbsp; Edit Staff Member
      p.form-subtitle
        | Editing: &nbsp;
        strong= staff.title + ' ' + staff.firstName + ' ' + staff.lastName
        | &nbsp;&middot;&nbsp;
        span.staff-no= staff.staffNumber

    form(action=`/staff/${staff.id}` method="POST")
      +staffForm(staff, locations, departments, nationalities, true)
